
main-section{
    display: flex;
}
.logo{
 display: flex;
 align-items: center;
 gap: 20px;
}

.nav{
 display: flex;
 justify-content: space-between;
}

.btn{
    padding: 10px;
    border: 2px solid green;
    border-radius: 15px;
    color: green;
} 
 .online-id{
    margin-top: 15px;
} 
.online-id input{
    padding: 15px 0 ;
    width: 400px;
    border-radius: 6px;
    padding-left: 15px ;
    
}

.pass{
    margin: 15px 0px;
}

.pass input{
    padding: 15px 0 ;
    width: 400px;
    border-radius: 6px;
    padding-left: 15px ;
}
.remember{
    margin: 15px 0;
}
.logbtn{
    padding: 13px 0 ;
    
    border-radius: 20px;
    border:0;
    background-color: green;
    color: white;
    width: 410px;
}

.forgot{
    display: flex;
    margin: 15px 50px;
    gap: 20px;
    color: green;
    /* justify-content: space-between; */
}

.side-login{
    /* width: 70%; */
    /* padding: 0 15px; */
    margin: 0 8rem;
}

.side-login h1{
    font-size: 40px;
    text-align: center;
    margin: 0;
}

.side-login p{
    text-align: center;
    margin-top: 0;
    margin-bottom: 40px;
}

.side-img{
    /* width: 50%; */
    margin:0 100px
}
.side-img img{
    width: 100%;
    border-radius: 20px;
    height: 100vh;
}

.part{
    display: flex;
    
}

.buttom-details{
    justify-content: center;
    display: flex;
    gap: 20px;
}

.copyright{
    justify-content: center;
    display: flex;
    gap: 20px;
}